* {
  box-sizing: border-box;
}

:root {
  --darkblue: #020E54;
  --blue: #4f3fb5;
  --palepurple: #938bcc;
}


a{
  text-decoration: none;
  border-bottom: 3px solid var(--darkblue);
  padding-left: 10px;
  padding-right: 10px;
  color: var(--darkblue);
  font-size: 18px;
}

.container a
{
  font-weight: bold;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

h2{
  font-size: 55px;
  text-align: end;
  color: var(--darkblue);
 
}
/* HEADER BAR */


.headercontainer{
  background-color: var(--blue);
  width: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100%;
  grid-template-areas:
  "nameheader  toplinks"
  ;
  height: 100px;
}

#nameheader
{
  grid-area: nameheader;
  background-color: var(--darkblue);
  top: 11px;
  text-align: end;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-top: 5px;
  font-size: 45px;
  color: var(--palepurple);
}


#toplinks
{
  grid-area: toplinks;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 10%;
}

#toplinks a{
  margin-left: 100px;
}



/* BANNER */

.screen-banner
{
  background-image: url(../images/02-hero-bg.jpg);
  height: 200px;
  background-position: center; 
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
  grid-template-areas: 
  "bannerimg bannertext" 
  ;

}

#bannerimg
{
  height: 160px;
  margin-left: 20px;
  margin-top: 18px;
}

#bannertext
{
  grid-area: bannertext;
  background-color: var(--darkblue);
  color: var(--palepurple);
  margin-top: 20px;
  display: inline-block;
  padding: 0px 10px 0px 10px;
  font-size: 40px;
  margin-top: 110px;
  margin-left: 50%;
  text-align: start;
}

/* about me */
#abouttitlemedia
{
  visibility: hidden;
}
#about
{
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 20% 80%;
  grid-template-areas: 
  "abouttitle abouttext"
  ;
  height: 300px;
}

#abouttitle
{
  position: absolute;
  grid-area: abouttitle;
  margin-top: 40px;
  right: 84%;
  text-align: end;

}
#aboutline {
  position: absolute;
  border-right: 4px solid var(--darkblue);
  height: 200px;
  left: 175px;
}



#abouttext
{
  margin-right: 10%;
  margin-top: 70px;
  grid-area: abouttext;
}

/* work */

#work
{
  display: grid;
  grid-template-rows: 50% 25% 25%;
  grid-template-columns: 19% 37% 37%;
  grid-template-areas: 
  "worktitle section1 section1"
  "worktitle section2 section3"
  "worktitle section4 section5"
  ;
  height: 900px;
}

#workheader
{
  position: absolute;
  z-index: 1;
  background-color: var(--darkblue);
  color: var(--palepurple);
  margin-top: 85px;
  width: auto;
  height: 85px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 25px;
  padding-right: 15px;
}

#section1 #workheader
{
  margin-top: 300px;
}

h4
{
  font-size: 15px;
}

#worktitle
{
  grid-area: worktitle;
  position: absolute;
  margin-top: 5px;
  right: 84%;
}

#workline {
  position: absolute;
  border-right: 4px solid var(--darkblue);
  height: 905px;
  left: 153px;
}

#work a
{
  border: none;
}
#links
{
  position: absolute;
  text-decoration: none;
  z-index: 2;
  width: 100%;
  height: 100%;
}

#section1
{
  grid-area: section1;
}

#workimg1
{
  background-image: url(../images/coderefactor.PNG);
  opacity: 0.6;
}

#section2
{
  grid-area: section2;
}

#workimg2
{
  background-image: url(../images/02-portfolio-1.jpg);
  opacity: 0.6;
}


#section3
{
  grid-area: section3;
}

#workimg3
{
  background-image: url(../images/02-portfolio-2.jpg);
  opacity: 0.6;
}

#section4
{
  grid-area: section4;
}

#workimg4
{
  background-image: url(../images/02-portfolio-3.jpg);
  opacity: 0.6;
}


#section5
{
  grid-area: section5;
}

#workimg5
{
  background-image: url(../images/02-run-buddy.jpg);
  opacity: 0.6;
}
#workimg1:hover,
#workimg2:hover,
#workimg3:hover,
#workimg4:hover,
#workimg5:hover
{
  opacity: 1;
}

.categoryGridArea {
  margin: 10px;
  display: grid;
  border: 5px solid var(--darkblue);
}

.imgattributes
{
background-position: center;
background-size: cover;
background-repeat: no-repeat;
align-content: end; 

}

/* CONTACT ME */

#contacttitlemedia
{
  visibility: hidden;
}
#contact
{
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 18% 76%;
  grid-template-areas: 
  "contacttitle contactboxes"
  ;
  height: 250px;
}


#contacttitle
{
  position: absolute;
  grid-area: contacttitle;
  right: 84%;
  margin-top: 30px;
  text-align: end;
}

#contactline {
  position: absolute;
  border-right: 4px solid var(--darkblue);
  height: 200px;
  left: 221px;
}

#contactboxes
{
  grid-area: contactboxes;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 1280px) {
  /* BANNER MEDIA */
.headercontainer
{
  grid-template-rows: 50% 50%;
  grid-template-columns: 100%;
  height: 225px;
  grid-template-areas: 
  "nameheader" 
  "toplinks" 
  ;
}
#nameheader
{
  text-align: center;
  margin-top: 0px;
  padding-top: 15px;
}
#toplinks
{
  width: 100%;
  left: 0%;
  justify-content: center;
  padding-right: 90px;
}
#bannertext
{
  margin-left: 25%;
  text-align: start;
}
/* 
ABOUT MEDIA */
#abouttitle
{
  visibility: hidden;
}
#about
{
  grid-template-rows: 20% 80%;
  grid-template-columns: 100%;
  grid-template-areas: 
  "abouttitle"
  "abouttext"
  ;
}
#abouttitlemedia
{
  visibility: visible;
  position: absolute;
  margin-left: 8%;
}
#aboutline
{
  border-right: none;
  border-bottom: 4px solid var(--darkblue);
  width: 1030px;
  left: 0;
  height: 0;
  margin-top: 70px;
 
}
#abouttext
{
  margin-right: 10%;
  margin-left: 10%;
}
/* WORK MEDIA */
#work
{

  grid-template-rows: 15% 50% 25% 25%;
  grid-template-columns: 45% 45%;
  grid-template-areas: 
  "worktitle worktitle"
  "section1 section1"
  "section2 section3"
  "section4 section5"
  ;
  margin-bottom: 200px;
 margin-left: 110px;
}

#worktitle
{
  position: absolute;
  left: 8%;
}


#workline
{
  border-right: none;
  border-bottom: 4px solid var(--darkblue);
  width: 1030px;
  left: 0;
  height: 0;
  margin-top: 70px;
 
}
/* CONTACT MEDIA */
#contacttitle
{
 visibility: hidden;
}
#contacttitlemedia
{
  visibility: visible;
  position: absolute;
  margin-left: 8%;
}
#contactline
{
  border-right: none;
  border-bottom: 4px solid var(--darkblue);
  width: 1030px;
  left: 0;
  height: 0;
  margin-top: 70px;
}
#contact
{
  grid-template-rows: 50% 50%;
  grid-template-columns: 100%;
  grid-template-areas: 
  "contacttitle"
  "contactboxes"
  ;
}
}



@media only screen and (max-width: 850px)
{
/* BANNER MEDIA MINI */
#bannerimg
{
  visibility: hidden;
}

#bannertext
{
  margin-left: 0;
}

/* WORK MEDIA MINI */
#work
{

  grid-template-rows: 10% 25% 25% 25% 25% 25%;
  grid-template-columns: 85%;
  grid-template-areas: 
  "worktitle"
  "section1"
  "section2"
  "section3"
  "section4" 
  "section5"
  ;
  margin-bottom: 350px;
  margin-top: 35px;
 margin-left: 100px;
}


#section1 #workheader
{
  margin-top: 90px;
}

/* CONTACT MEDIA MINI */
#contactboxes
{
  position: absolute;
  grid-area: contactboxes;
  display: grid;
  align-items: center;
  margin-left: 60px;
  margin-top: 120px;
  text-align: left;
}
#toplinks
{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  left: 0%;
  padding-right: 0px;
}
}